<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepxi.com.deepxi.mapper.HspActiveProductMapper">
    <resultMap type="com.deepxi.com.deepxi.domain.dto.HspActiveProductDto" id="HspActiveProductDtoResult">
        <result property="id" column="id" />
        <result property="tenantCode" column="tenant_code" />
        <result property="createdAt" column="created_at" />
        <result property="createdBy" column="created_by" />
        <result property="updatedAt" column="updated_at" />
        <result property="updatedBy" column="updated_by" />
        <result property="version" column="version" />
        <result property="dr" column="dr" />
        <result property="remark1" column="remark1" />
        <result property="remark2" column="remark2" />
        <result property="remark3" column="remark3" />
        <result property="remark4" column="remark4" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="salePrice" column="sale_price" />
        <result property="imageUrl" column="image_url" />
        <result property="description" column="description" />
        <result property="jionActivity" column="jion_activity" />
    </resultMap>
    <select id="findList" resultType="com.deepxi.com.deepxi.domain.eo.HspActiveProduct">
        SELECT * FROM hsp_active_product WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE hsp_active_product set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>